<router-outlet></router-outlet>

<nav
  class="navbar navbar-expand-lg navbar-dark bg-dark"
  style="margin-bottom: 15px"
>
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Bets</a>
    <a
      class="btn btn-dark"
      data-bs-toggle="offcanvas"
      href="#offcanvasExample"
      role="button"
      aria-controls="offcanvasExample"
    >
      My selected ({{ optionSelected.length }})
      <span class="navbar-toggler-icon"></span>
    </a>
  </div>
</nav>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-4" *ngFor="let event of eventsData">
      <div
        class="card margin-botton-15 border-dark mb-3"
        *ngIf="event.markets.length != 0"
      >
        <div class="card-header text-center bg-dark text-white">
          {{ event.name }}
        </div>
        <div class="card-body">
          <div class="margin-botton-15" *ngFor="let market of event.markets">
            <p class="card-text">{{ market.name }}</p>
            <div class="row">
              <ul class="list-group">
                <li
                  *ngFor="let selection of market.selections"
                  class="
                    list-group-item
                    d-flex
                    justify-content-between
                    align-items-start
                    pointer
                    {{ isOptionSelected(event.id, market.id, selection.id) }}
                  "
                  (click)="selectOption(event, market, selection)"
                >
                  <div class="ms-2 me-auto">
                    <div class="fw-bold">{{ selection.name }}</div>
                  </div>
                  <span class="badge bg-primary rounded-pill">{{
                    selection.price
                  }}</span>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div
  class="offcanvas offcanvas-end"
  tabindex="-1"
  id="offcanvasExample"
  aria-labelledby="offcanvasExampleLabel"
>
  <div class="offcanvas-header text-white bg-dark">
    <h5 class="offcanvas-title" id="offcanvasExampleLabel">Selected</h5>
    <button
      type="button"
      class="btn-close text-reset btn-close-white"
      data-bs-dismiss="offcanvas"
      aria-label="Close"
    ></button>
  </div>
  <div class="offcanvas-body">
    <div class="card" *ngFor="let selection of optionSelected">
      <div class="card-header bg-dark text-white">
        {{ selection.nameEvent }}
        <button
          type="button"
          class="btn-close text-reset btn-close-white float-r"
          aria-label="Close"
          (click)="removeToSelected(selection)"
        ></button>
      </div>
      <div class="card-body">
        <h5 class="card-title">
          {{ selection.nameNarket }} : {{ selection.nameOption }}
        </h5>
        <p class="card-text">Price : {{ selection.price }}</p>
      </div>
    </div>
  </div>
</div>
