/* You can add global styles to this file, and also import other style files */
.margin-botton-15 {
  margin-bottom: 15px;
}

.row-options {
  border: 1px solid black;
  color: black;
  text-align: center;
  margin: 20px;
  font-size: 12px;
  cursor: pointer;
}

.w-30 {
  width: 30%;
}

.pointer {
  cursor: pointer;
}

.float-r {
  float: right;
}

.selectedOption {
  background-color: #212529;
  color: white;
}
